body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: black;
  font-family: 'VT323', system, sans-serif;
}

#game-intro {
  align-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url(../images/StartingScreen.gif);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

#game-container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

#game-screen {
  display: none;
  align-content: center;
  overflow: hidden;
  position: relative;
  background-image: url(../images/TimeHakerBackground.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

#game-end {
  display: none;
  height: 100vh;
  background-image: url(../images/GameOverSreen.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

#game-end h1,
#game-end h2 {
  font-size: 100px;
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 50px;
}

#game-end h2 {
  padding-top: 0;
}

#game-end ul {
  list-style-type: none;
  padding: 0;
  font-size: 60px;
  color: white;
  margin: 30px auto;
}

#game-end li {
  padding: 5px;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.arcade-button {
  background-color: #ff00ff;
  /* Neon pink background */
  border: none;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  /* Pixelated font */
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Hover effect */
.arcade-button:hover {
  box-shadow: 0 0 20px #ff00ff, 0 0 40px #ff00ff, 0 0 60px #ff00ff;
  /* Glowing effect */

}

.confirm {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  /* z-index: 2; */
  width: 420px;
  height: 200px;
  line-height: 60px;
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  /* opacity: 1; */
  visibility: visible;
  /* transition: opacity 0s linear 1s, visibility 0s linear 1s; */
}

.confirm input,
.confirm label {
  cursor: pointer;
}

.confirm label {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  margin: 10px 0 0 0;
  text-align: center;
}

.confirm label:hover:before {
  content: '>';
  position: absolute;
  left: 35px;
}

.confirm input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.confirm input:checked+label:before {
  content: '';
}

.confirm input:checked+label span {
  padding: 0 5px;
  animation: blink 0.25s alternate infinite;
}

.hacking-time {
  position: absolute;
  top: -550px;
  right: 0;
  bottom: 0;
  left: 660px;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 200px;
  line-height: 40px;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  opacity: 1;
  visibility: visible;
  /* transition: opacity 2s linear 0s; */
}

/* .hacking-time.inner {
  opacity: 1;
} */

.hacking-time h1 {
  font-weight: 300;
  line-height: 0px;
  font-size: 63px;
}

.hacking-time .progress {
  position: relative;
  height: 40px;
  width: 100%;
  margin: 0 0 15px 0;
  border: 3px solid white;
}

.hacking-time .progress:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: white;
  transition: width 10s linear 5s;
}

@keyframes blink {

  0%,
  49% {
    color: white;
    background: blue;
  }

  50%,
  100% {
    color: blue;
    background: white;
  }
}